.tile{
    width: 150px;
    height: 150px;

    border: 1px solid blue;
    border-radius: 2px;

    text-align: center;
    font-size: 60px;

    background-color: blue;
    box-shadow: rgb(0, 0, 255) 5px 5px;
}
